<!DOCTYPE html>

<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">

	<head th:replace="fragments/headTag :: headTag"></head>	
	<body>	
		<div  layout:fragment="content" class="container">
		    <h2>Tasks</h2>
		
		    <table class="table table-striped">
		        <thead>
		            <tr>
		                <th>Nom</th>
		                <th>description</th>
		                <th>Version</th>
		                <th>Dernière modification</th>
		                <th>Dernière modification par</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr th:each="task : ${page.content}">
		                <td>
		                    <a href="#"
		                       class="task-detail" 
		                       data-th-attr="data-taskid=${task.id}"
		                       th:text="|${task.name}|">Nom</a>
		                </td>
		                <td th:text="${task.description}">Description</td>
		                <td th:text="${task.version}">0</td>
		                <td th:text="${#calendars.format(task.lastModified)}">01/01/2001</td>
		                <td th:text="${task.lastModifiedBy.name}">TestUser</td>
		            </tr>
		        </tbody>
		    </table>
		    <div th:include="fragments/pagination-bar :: paginationbar" class="text-center"></div>

		    <div class="modal fade" id="taskDetailModel" tabindex="-1" role="dialog" aria-labelledby="taskDetailLabel" aria-hidden="true">
  				
  			</div>
		</div>
		<div layout:fragment="footer">
			<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js" th:src="@{/webjars/jquery/2.1.0/jquery.min.js}"></script>
			<script src="/webjars/bootstrap/3.1.1-1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"></script>
			<script type="text/javascript" th:inline="javascript">
				/*<![CDATA[*/
				(function() {
					var errorCallback = function(e) {
						console.error(e);
					},
					tasksUrl = /*[[@{/site/tasks/}]]*/;
					tasksApiUrl = /*[[@{/api/tasks/}]]*/;


					var loadDetails = function(id) {
						$$.get(
							{
								url: tasksUrl + id,
								success: showDetails,
								fail: errorCallback,
								contentType: 'text/html'
							}
						);
					}
					var showDetails = function(details) {
						$$.selector('#taskDetailModel').result.innerHTML = details;
						$('#taskDetailModel').modal('toggle');
						var btn = $$.selector('.task-touch').result;
						btn.addEventListener('click', function() {
							var id = btn.dataset.taskid;
							$$.get(
								{
									url: tasksApiUrl + id + '/majVersion',
									success: function() {
										window.location.reload();
									},
									fail: errorCallback,
									contentType: 'application/json'
								}
							);
						});
					};


					forEach.call($$.selector('.task-detail').results, function(task) {
						var id = task.dataset.taskid;
						task.addEventListener("click", function() {
							loadDetails(id);
						});
					});

				}());
				/*]]>*/	
			</script>
		</div>

	</body>
</html>    

