<!DOCTYPE html>

<html lang="en" 
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headTag">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="Simplicity Itself" />
	
	<title>Demo</title>
	
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" 
		th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<link href="style.css" th:href="@{/style.css}" rel="stylesheet"></link>
    
</head>

<body>
</body>

</html>