<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head th:replace="fragments/headTag :: headTag"></head>
<body>
	<div layout:fragment="content" >
		<div class="jumbotron">
	        <h1>Bonjour!</h1>
	        <p>Ceci est une demonstration technique</p>
	        <p><a href="https://github.com/kepennar/anti-procrastinator" class="btn btn-primary btn-lg" role="button" target="_blank">Learn more &raquo;</a></p>
	      </div>
		<div class="hero-unit span9">
			<h3>Par</h3>
			<p>Hadrien Bourgogne</p>
			<p>Kevin Pennarun</p>
		</div>
	</div>
</body>

</html>