<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">

<head th:include="fragments/headTag :: headTag"></head>
<body>
	<div layout:fragment="content" class="container">
		<h2>Metrics</h2>
		<div id="health" class="row">
			<div class="panel panel-default">
				<div class="panel-heading">Health</div>
				<div class="row panel-body" id="health-place">
				</div>
			</div>
		</div>
		<div id="mem" class="row">
			<div class="panel panel-default">
				<div class="panel-heading">Memory</div>
		  		<div class="row panel-body">
				  	<div class="col-md-10">
						<canvas id="myChart" width="800" height="200"></canvas>
					</div>
					<div class="col-md-2">
						<fieldset>
							<legend>Legend</legend>
							<p style="font-weight:bold"><span style="color:rgb(0, 255, 0)">Memory: </span><span id="memValue" ></span> MB</p>
							<p style="font-weight:bold"><span style="color:rgb(255, 0, 255);">Memory used: </span><span id="memUsedValue" ></span> MB</p>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div id="counters" class="row">	</div>
		<div id="gauges" class="row">	</div>
	</div>
	<div layout:fragment="footer">
		<script src="/js/libs/smoothie.js" th:src="@{/js/libs/smoothie.js}"></script>
		<script src="/webjars/q/1.0.0/q.min.js" th:src="@{/webjars/q/1.0.0/q.min.js}"></script>
		<script src="/webjars/handlebars/1.3.0/handlebars.min.js" th:src="@{/webjars/handlebars/1.3.0/handlebars.min.js}"></script>
		<script src="/webjars/sockjs-client/0.3.4/sockjs.min.js" th:src="@{/webjars/sockjs-client/0.3.4/sockjs.min.js}"></script>
		<script src="/webjars/stomp-websocket/2.3.1/stomp.min.js" th:src="@{/webjars/stomp-websocket/2.3.1/stomp.min.js}"></script>
		<script src="/webjars/underscorejs/1.6.0/underscore-min.js" th:src="@{/webjars/underscorejs/1.6.0/underscore-min.js}"></script>
		
		
		
		<script type="text/javascript" th:inline="javascript">
		var errorCallback = function(e) {
			console.error(e);
		};
		/*<![CDATA[*/
		var MemMetrics = (function() {
			var memMetrics = {},
            apiUrl = /*[[@{/management/metrics/}]]*/,
            memValue = document.getElementById("memValue"),
            memUsedValue = document.getElementById("memUsedValue"),
            line1 = new TimeSeries(),
	    	line2 = new TimeSeries();


            memMetrics.loadMetrics = function() {
			      	setInterval(function() {
						$$.get(
							{
								url: apiUrl + 'mem',
								success: getMemCallBack,
								fail: errorCallback,
								contentType: 'application/json'
							}
						);
					}, 1000);
			     
			      var smoothie = new SmoothieChart({
			    	  maxValue:200,
			    	  minValue:0, 
			    	  timestampFormatter:SmoothieChart.time,
			    	  grid: {
			    		  strokeStyle: 'rgb(100, 100, 100)',
			    		  fillStyle: 'rgb(50, 50, 50)',
			    		  lineWidth: 1,
			    		  millisPerLine: 250,
			    		  verticalSections: 6,
			    		  sharpLines:true
			    	 } 
			      });
			      smoothie.addTimeSeries(line1, { strokeStyle: 'rgb(0, 255, 0)', fillStyle: 'rgba(0, 255, 0, 0.4)', lineWidth: 3 });
			      smoothie.addTimeSeries(line2, { strokeStyle: 'rgb(255, 0, 255)', fillStyle: 'rgba(255, 0, 255, 0.3)', lineWidth: 3 });
			      smoothie.streamTo(document.getElementById("myChart"), 1000);

			};
			var getMemCallBack = function(data, next) {
				var mem = data/ 1024;
				memValue.innerHTML = Math.round(mem);
				line1.append(new Date().getTime(), mem);
				$$.get(
					{
						url: apiUrl + 'mem.free',
						success: getMemFreeCallback,
						error: errorCallback,
						contentType: 'application/json'
					},
					mem);

			};
			var getMemFreeCallback = function(data, mem) {
				var memUsed = mem - (data / 1024);
				memUsedValue.innerHTML = Math.round(memUsed);
				line2.append(new Date().getTime(), memUsed);

			};

			return memMetrics;
		}());
		
		var Health = (function() {
			var health = {};
			var apiUrl = /*[[@{/management/health}]]*/;
			var elem = document.getElementById("health-place");
			var showHealth = function() {
				$$.get(
					{
						url: apiUrl,
						success: function() {
							if (request.status === 200) {
								elem.innerHTML = request.responseText;
							}
						},
						fail: errorCallback,
						contentType: 'application/json'
					}
				);
			};

			health.loadHealth = function() {
				setInterval(showHealth, 2000);
			};
			return health;
		}());
		
		var MetricsWS = (function(elemId, WSUrl, options) {
			
			var stompClient = null;
			var tplUrl = /*[[@{/partials/metrics.html}]]*/;
	        var elem = document.getElementById(elemId);
	        var template = null;
	        
			var connect = function() {
	            var socket = new SockJS('/metrics');
	            stompClient = Stomp.over(socket);            
	            stompClient.connect({}, function(frame) {
	                console.debug('Connected: ', frame);
	                stompClient.subscribe(WSUrl, function(datas){
	                	showMetrics(JSON.parse(datas.body));
	                });
	            });
	        };
	        var deferredTemplate = Q.defer();
			var onLoadTemplate = function() {
	            if (request.status === 200) {
	                template = Handlebars.compile(request.responseText);
	                deferredTemplate.resolve(template);
	            } else {
	            	deferredTemplate.reject(new Error("Status code was " + request.status));
	            }
	        };
	        var showMetrics = function(metrics) {
	        	elem.innerHTML = template(_.extend(options, {metrics : metrics}));
	        }
			$$.get(
				{
					url: tplUrl, 
					success: onLoadTemplate, 
					error: errorCallback,
					contentType: 'text/html'
				}
			);
	        deferredTemplate.promise.then(function() {
	        	connect();
	        });
	        
	        
		});	
		MemMetrics.loadMetrics();
		MetricsWS('gauges', '/topic/gauges', {title: 'Gauges', unit: "ms"});
		MetricsWS('counters', '/topic/counters', {title: 'Counters', unit: "nb"});
		Health.loadHealth();
		/*]]>*/	
		</script>
	</div>

</body>

</html>